
/* ----------------------------------------BODY--------------------------------------------*/

body{
    margin: 0;
    padding: 0;
    background-color:  #a78484;
}


/* ----------------------------------------HEADER--------------------------------------------*/

.title-header {
    font-family: 'Bungee Hairline', cursive;
     color: white;
    margin-top: 8px;
    font-size: 15px;

}

.title-welcome{
    font-size: 40px;
    font-family: 'Lobster', cursive;
    opacity: 0.3;
    color: dimgrey;
}

header{
    background-color: #E5CDCA;
    height: 65px;
    width: 100%;
    z-index: 3000;

}

nav{
    display: flex;
    justify-content: space-around;
}

.ul-header{
    display: flex;
    margin-top: 22px;
}

.li-header {
    margin: 10px 15px;
    list-style-type: none;
    font-family: 'Bungee Hairline', cursive;
    font-size: 19px;
    font-weight: 600;
    color: #0f0e0e;
}

.link-header {
    text-decoration: none;
    color:rgb(92, 79, 79);
}

/*--------------------------------------------BANIERE -----------------------------------------*/
.baniere{
    height: 602px;
}

.picture-banner{
    width: 100%;
    height: 602px;
    border-top: 2px solid white;
    z-index: 2;
    
} 

 h3 {
position: absolute;
font-size: 72px;
top: 237px;
left: 423px;
font-family: 'Mogra', cursive;
color: lavenderblush;
opacity: 0.5;
text-shadow: 2px 2px 4px black;
 }                

 .presentation{
    position: absolute;
    top: 387px;
    left: 538px;
    font-family: 'Philosopher', sans-serif;
    text-align: center;
    color: #c39797;
    font-weight: 600;
 }

 /*------------------------------------------SECTION------------------------------------------------*/
 section{
    background-color: #a78484;
 }
 
 h4{
     display: flex;
     justify-content: center;
     font-size: 14px;
     background-color: #a78484;
     padding: 4%;
     margin: 0%;
     font-size: 31px;
     font-family: 'Bungee Hairline', cursive;
     color: white;
     font-weight: 200;
 }
/*------------------------------------------DIV PROJETS------------------------------------------*/
 article{
     
     border: 1px outset white;
     box-shadow: 2px 2px 4px #7d7c85;
}

.projets{
    display: flex;
    justify-content: space-around;
}
/*----------------------------------------article PROJET 1------------------------------------------*/

.image-projet1 {
    width: 165px;
    height: auto;
    border-radius: 53px;
    padding: 12px;
}
 .projet-1{
    text-align: center;
    font-family: 'Bungee Hairline', cursive;
    color: white;
    font-weight: bold;
 }

/*----------------------------------------article PROJET 2------------------------------------------*/

.image-projet2 {
    width: 165px;
    height: auto;
    border-radius: 53px;
    padding: 12px;
}
/*----------------------------------------article PROJET 3------------------------------------------*/

.image-projet3 {
    width: 165px;
    height: auto;
    border-radius: 53px;
    padding: 12px;
}
/*----------------------------------------article PROJET 4------------------------------------------*/

.image-projet4 {
    width: 165px;
    height: auto;
    border-radius: 53px;
    padding: 12px;
}

/* ---------------------------------------PRESENTATION-------------------------------------------- */
.portrait{
    display: flex;
    width: 43%;
    height: 75%;
    padding: 0px 10px;
}

.photo_resume{
    width: 495px;
    display: flex;
    text-align: justify;
    margin-left: 449px;
    margin-top: 220px;
    border-left: 2px solid rgb(237, 231, 214);

}

.resume{
    display: flex;
    font-family: 'Philosopher', sans-serif;
    color: whitesmoke;
    text-align: justify;
}



/*----------------------------------------ASIDE COMPETENCES------------------------------------------*/
aside{
    display: flex;
    justify-content: flex-end;
}

.bloc-competences {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    border: 2px solid grey;
    width: 159px;
    margin-top: 157px;
    margin-right: 35px;
    background-color: #E5CDCA;
    box-shadow: 10px 25px 5px 3px;
    border-radius: 56px 10px 70px 50px;
    
}
 
.competences{
    display: flex;
    justify-content: center;
    
}


/* ---------------------------footer----------------------------------------------- */
footer{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.socialmedia ul {
    padding: 0;
    margin-bottom: 0;
}
.socialmedia{
    display: flex;
    list-style: none;
    font-size: 40px;
}

.socialmedia li{
    padding-right: 20px;
}

.socialmedia a {
    color: white;
}